h1 {
    font-weight: 700 !important;
    font-size: 45px !important;
    margin: 10px !important;
    margin-bottom: 20px !important;
}

input {
    width: 100% !important;
}

.item-container {
    text-align: left !important;
}